:root{
    --platinum:#EEE2DF;
    --thistle:#DEC1DB;
    --liberty:#5B61B2;
    --bleu-de-france:#2F80E4;
    --little-boy-blue:#6DA0E1;
}
header, nav{
    text-align:center
}
header{
    font-family:cursive;
    padding:2.5px;
    background-color:var(--liberty);
    color: var(--thistle);
    width:100vw;
}
header img h1{
    display:inline-block;
}
nav{
    background-color:var(--thistle);
    padding:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:100vw;
}
nav a{
    background-color:var(--platinum);
    width:fit-content;
    border:3px solid var(--platinum);
    border-radius:10px;
    padding:10px;
}
a:link{
    color:var(--liberty);
    transition:0.5s;
}
a:visited{
    color:var(--little-boy-blue);

}
a:hover{
    color:var(--bleu-de-france);
    transform:translateY(-2px);
    transition: 0.5s;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:var(--platinum);
}
footer{
    background-color:var(--liberty);
    color:var(--thistle);
    text-align:center;
    width:100vw;
}